/* header section */
.header{
  background-image: url("../images/h_img.jpg");
  background-size: cover;
  background-position: center center;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.logo{
  padding-top: 14%;
  padding-bottom: 1%  
}
.header h1{
  margin: 0;
  margin-bottom: 25px;
  font-size: 50px;
  font-weight: lighter;
}
.header p{
  margin: 0
}
.mouse-click{
 padding-top: 8%;
}
/* About us section */
.about h2{
  text-align: center;
  text-transform: uppercase;
  padding-top: 2%;
}
.about p{
  text-align: center;
}
/* Service section */
.services{
  background-image: url("../images/s_image.jpg");
  background-position: center center;
  color: white;
  text-align: center;
  padding-top: 10%;  
  padding-bottom: 10%;  
}
h2{
  text-transform:uppercase;
  text-align: center;
}
/* what we do section */
/* -----design */
#designText,#developmentText,#productsText{
  display: none;
}
.design{
  padding-left: 0%;
}
#designImage{

}
/* -----development */
.development{
  padding-top: 3%;
}
#developmentImage{
  
}
/* -----product management */
.products{

}
.productsImage{

}
.work{
  text-align: center;
  padding-top: 3%;  
}

/* portfolio section */
.portfolio{
  padding-top: 2%;
}
#work4Text h3, #work3Text h3, #work2Text h3, #work5Text h3,#work6Text h3, #work7Text h3, #work8Text h3, #work1Text h3{
  display: none;
}

/* .work4,.work3,.work2,.work1{
  margin: 20px;
  width: 100%;
  border: 3px solid black;
} */
.col-md-3 img{
  margin: 10px;
  width: 100%;
  /* border: 3px solid black; */
}
#portfolio-row{
  padding-top: 2%;
}
